<!-- Services Section -->
<section class="services-section">
    <div class="side-image">
        <img src="static/images/resource/service-image.png" alt="" />
    </div>
    <div class="auto-container">
        <div class="sec-title">
            <div class="clearfix">
                <div class="pull-left">
                    <div class="title"><span class="separator"></span>Our Services</div>
                    <h2>Construction solutions <br> for residentials & industries!</h2>
                </div>
                <div class="pull-right">
                    <div class="text">Construction is a general term meaning the art and science <br> to form objects systems organizations.</div>
                </div>
            </div>
        </div>
        <div class="services-carousel owl-carousel owl-theme">
            
            <!-- Service Block -->
            <div class="service-block">
                <div class="inner-box">
                    <div class="pattern-layer" style="background-image:url(static/images/background/service-bg.png)"></div>
                    <div class="content">
                        <div class="icon-box">
                            <span class="icon flaticon-excavator"></span>
                        </div>
                        <h4><a href="general-contracting.html">Expert <br> Mechanical</a></h4>
                        <div class="text">We will work with you to make small or large changes so you get the house of your dreams</div>
                    </div>
                    <a class="read-more" href="general-contracting.html">Read More</a>
                </div>
            </div>
            
            <!-- Service Block -->
            <div class="service-block">
                <div class="inner-box">
                    <div class="pattern-layer" style="background-image:url(static/images/background/service-bg.png)"></div>
                    <div class="content">
                        <div class="icon-box">
                            <span class="icon flaticon-building"></span>
                        </div>
                        <h4><a href="general-contracting.html">Apartment <br> Design</a></h4>
                        <div class="text">We will work with you to make small or large changes so you get the house of your dreams</div>
                    </div>
                    <a class="read-more" href="general-contracting.html">Read More</a>
                </div>
            </div>
            
            <!-- Service Block -->
            <div class="service-block">
                <div class="inner-box">
                    <div class="pattern-layer" style="background-image:url(static/images/background/service-bg.png)"></div>
                    <div class="content">
                        <div class="icon-box">
                            <span class="icon flaticon-welding"></span>
                        </div>
                        <h4><a href="general-contracting.html">Repair <br> Welding</a></h4>
                        <div class="text">We will work with you to make small or large changes so you get the house of your dreams</div>
                    </div>
                    <a class="read-more" href="general-contracting.html">Read More</a>
                </div>
            </div>
            
            <!-- Service Block -->
            <div class="service-block">
                <div class="inner-box">
                    <div class="pattern-layer" style="background-image:url(static/images/background/service-bg.png)"></div>
                    <div class="content">
                        <div class="icon-box">
                            <span class="icon flaticon-excavator"></span>
                        </div>
                        <h4><a href="general-contracting.html">Expert <br> Mechanical</a></h4>
                        <div class="text">We will work with you to make small or large changes so you get the house of your dreams</div>
                    </div>
                    <a class="read-more" href="general-contracting.html">Read More</a>
                </div>
            </div>
            
            <!-- Service Block -->
            <div class="service-block">
                <div class="inner-box">
                    <div class="pattern-layer" style="background-image:url(static/images/background/service-bg.png)"></div>
                    <div class="content">
                        <div class="icon-box">
                            <span class="icon flaticon-building"></span>
                        </div>
                        <h4><a href="general-contracting.html">Apartment <br> Design</a></h4>
                        <div class="text">We will work with you to make small or large changes so you get the house of your dreams</div>
                    </div>
                    <a class="read-more" href="general-contracting.html">Read More</a>
                </div>
            </div>
            
            <!-- Service Block -->
            <div class="service-block">
                <div class="inner-box">
                    <div class="pattern-layer" style="background-image:url(static/images/background/service-bg.png)"></div>
                    <div class="content">
                        <div class="icon-box">
                            <span class="icon flaticon-welding"></span>
                        </div>
                        <h4><a href="general-contracting.html">Repair <br> Welding</a></h4>
                        <div class="text">We will work with you to make small or large changes so you get the house of your dreams</div>
                    </div>
                    <a class="read-more" href="general-contracting.html">Read More</a>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- End Services Section -->